#wpcSection_4136198 {
	background-attachment: scroll;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: contain;
	background-image: url(https://d30itml3t0pwpf.cloudfront.net/api/v3/medias/10949717/image/opt/1600x642%3E/1485183629-fae49faf), linear-gradient(to bottom, rgb(95%, 95%, 95%) 0%, rgb(95%, 95%, 95%) 100%);
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcSection_4136198 .wpx-container {
	min-height: 85px;
}

#wpcSection_4801317 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://d30itml3t0pwpf.cloudfront.net/api/v3/medias/5663841/image/opt/original/1438722539-a495c08e), linear-gradient(to bottom, rgb(95%, 95%, 95%) 0%, rgb(95%, 95%, 95%) 100%);
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcSection_4801317 .wpx-container {
	min-height: 30px;
}

#wpcRow_6615594 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_6615594 .row-container {
	min-height: 81px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcColumn_7848229 {
	min-height: 81px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_7848229 {
		min-height: 1px;
	}
}

#wpcSection_7957565 {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: scroll;
	background-image: linear-gradient(to bottom, rgb(16%, 60%, 84%) 0%, rgb(16%, 60%, 84%) 100%);
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcSection_7957565 .wpx-container {
	min-height: 45px;
}

#wpcRow_4391740 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_4391740 .row-container {
	min-height: 45px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcColumn_1709730 {
	min-height: 81px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_1709730 {
		min-height: 1px;
	}
}

#wpcInlineCell_1249670 {
	vertical-align: middle;
	width: 276px;
}

#wpcText_9997417 {
	margin: -6px 5px -6px 5px;
}

#wpcText_9997417 .wpc-text {
	padding: 5px 5px 5px 5px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
}

#wpcSection_4435438 {
	background-position: center top;
	background-repeat: repeat-y;
	background-size: contain;
	background-attachment: scroll;
	background-image: url(https://d30itml3t0pwpf.cloudfront.net/api/v3/medias/10949717/image/opt/1600x642%3E/1485183629-fae49faf), linear-gradient(to bottom, rgb(95%, 95%, 95%) 0%, rgb(95%, 95%, 95%) 100%);
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcSection_4435438 .wpx-container {
	min-height: 468px;
}

@media (max-width: 992px) {
	#wpcSection_4435438 {
		padding: 30px 30px 30px 30px;
	}
}

@media (max-width: 767px) {
	#wpcSection_4435438 .wpx-container {
		min-height: 775px;
	}
}

#wpcInlineCell_4565410 {
	vertical-align: middle;
	width: 820px;
}

@media (max-width: 992px) {
	#wpcInlineCell_4565410 {
		width: 650px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_4565410 {
		width: 300px;
	}
}

#wpcText_2800640 {
	margin: 2px 5px 2px 5px;
}

#wpcText_2800640 .wpc-text {
	padding: 5px 5px 5px 5px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
}

#wpcInlineCell_35673 {
	vertical-align: middle;
	width: 820px;
}

@media (max-width: 992px) {
	#wpcInlineCell_35673 {
		width: 650px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_35673 {
		width: 320px;
	}
}

#wpcText_1593429 {
	margin: 2px 5px 2px 5px;
}

#wpcText_1593429 .wpc-text {
	padding: 5px 5px 5px 5px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
}

#wpcColumn_559565 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_559565 {
		min-height: 1px;
	}
}

#wpcInlineCell_3423845 {
	vertical-align: middle;
	width: 215px;
}

#wpcText_3181445 {
	margin: 2px 5px 2px 5px;
}

#wpcText_3181445 .wpc-text {
	padding: 5px 5px 5px 5px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
}

#wpcInlineCell_6353356 {
	vertical-align: middle;
	width: 917px;
}

@media (max-width: 767px) {
	#wpcInlineCell_6353356 {
		width: 300px;
	}
}

#wpcText_1432368 {
	margin: 2px 5px 2px 5px;
}

#wpcText_1432368 .wpc-text {
	padding: 5px 5px 5px 5px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
}

#wpcRow_3848904 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_3848904 .row-container {
	min-height: 10px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcColumn_7229732 {
	min-height: 10px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_7229732 {
		min-height: 1px;
	}
}

#wpcColumn_1160824 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_1160824 {
		min-height: 1px;
	}
}

#wpcColumn_3244948 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_3244948 {
		min-height: 1px;
	}
}

#wpcColumn_7132840 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_7132840 {
		min-height: 1px;
	}
}

#wpcRow_8513453 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_8513453 .row-container {
	min-height: 30px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcColumn_7619917 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

#wpcRow_7002449 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_7002449 .row-container {
	min-height: 30px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media (max-width: 992px) {
	#wpcRow_7002449 {
		margin: 0px -15px 0px -15px;
	}

	#wpcRow_7002449 .row-container {
		min-height: 50px;
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

@media (max-width: 767px) {
	#wpcRow_7002449 {
		margin: 0px -15px 0px -15px;
	}

	#wpcRow_7002449 .row-container {
		min-height: 50px;
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

#wpcColumn_5564713 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

#wpcRow_1217337 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_1217337 .row-container {
	min-height: 20px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcColumn_7531589 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

#wpcRow_3415964 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_3415964 .row-container {
	min-height: 30px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcColumn_7578507 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

#wpcRow_2815330 {
	margin: 0px -15px 0px -15px;
}

#wpcRow_2815330 .row-container {
	min-height: 468px;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media (max-width: 767px) {
	#wpcRow_2815330 .row-container {
		min-height: 775px;
	}
}

#wpcColumn_1009561 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}

#wpcPage0 {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}

#wpcInlineCell_8533909 {
	vertical-align: middle;
	width: 920px;
}

@media (max-width: 767px) {
	#wpcInlineCell_8533909 {
		width: 240px;
	}
}

#wpcMap_8460189 {
	height: 597px;
}

@media (max-width: 767px) {
	#wpcMap_8460189 {
		height: 597px;
	}
}

#wpcInlineCell_1750960 {
	vertical-align: middle;
	width: 920px;
}

@media (max-width: 767px) {
	#wpcInlineCell_1750960 {
		width: 240px;
	}
}

#wpcText_1177416 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_716639 .row-container {
	min-height: 194px;
}

#wpcColumn_459817 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcRow_4277593 .row-container {
	min-height: 194px;
}

#wpcColumn_3391262 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcSection_9367074 {
	background-image: url(https://d30itml3t0pwpf.cloudfront.net/api/v3/medias/10949717/image/opt/1600x642%3E/1485183629-fae49faf), linear-gradient(to bottom, rgb(90%, 90%, 100%) 0%, rgb(90%, 90%, 100%) 100%);
	background-attachment: scroll;
	background-size: contain;
	background-position: center top;
	background-repeat: repeat-y;
}

#wpcSection_9367074 .wpx-container {
	min-height: 30px;
}

@media (max-width: 992px) {
	#wpcSection_9367074 {
		background-position: center top;
		background-size: contain;
		background-repeat: repeat-y;
	}
}

#wpcRow_4133396 .row-container {
	min-height: 100px;
}

#wpcColumn_3560278 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_3359440 .row-container {
	min-height: 100px;
}

#wpcColumn_9477203 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_9980864 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_1919165 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcColumn_3759237 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_7882580 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_8781381 {
	vertical-align: middle;
	width: 293px;
}


#wpcInlineCell_9888302 {
	vertical-align: middle;
	width: 293px;
}


#wpcInlineCell_575544 {
	vertical-align: middle;
	width: 293px;
}

#wpcRow_1116429 .row-container {
	min-height: 100px;
}

#wpcColumn_7048099 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_3700335 .row-container {
	min-height: 100px;
}

#wpcColumn_8121485 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_6169745 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_1328728 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_7128990 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_9237356 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_4644251 {
	vertical-align: middle;
	width: 293px;
}


#wpcInlineCell_4474573 {
	vertical-align: middle;
	width: 293px;
}


#wpcInlineCell_1917155 {
	vertical-align: middle;
	width: 293px;
}


#wpcInlineCell_1388370 {
	vertical-align: middle;
	width: 293px;
}

#wpcInlineCell_7265320 {
	vertical-align: middle;
	width: 100px;
}

@media (max-width: 992px) {
	#wpcInlineCell_7265320 {
		width: 100px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_7265320 {
		width: 75px;
	}
}

#wpcInlineCell_1114596 {
	vertical-align: middle;
	width: 100px;
}

@media (max-width: 992px) {
	#wpcInlineCell_1114596 {
		width: 100px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_1114596 {
		width: 75px;
	}
}

#wpcSection_4080800 {
	background-image: url(https://d30itml3t0pwpf.cloudfront.net/api/v3/medias/10949717/image/opt/1600x642%3E/1485183629-fae49faf), linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	background-attachment: scroll;
	background-size: contain;
	background-position: center top;
	background-repeat: repeat-y;
}

#wpcSection_4080800 .wpx-container {
	min-height: 109px;
}

@media (max-width: 992px) {
	#wpcSection_4080800 .wpx-container {
		min-height: 85px;
	}
}

#wpcSection_12378 {
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: linear-gradient(to bottom, rgba(0%, 0%, 0%, 0) 0%, rgba(0%, 0%, 0%, 0) 100%);
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcSection_12378 .wpx-container {
	min-height: 85px;
}

#wpcText_4845582 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_4116031 {
	vertical-align: middle;
	width: 920px;
}

#wpcRow_5273718 .row-container {
	min-height: 104px;
}

#wpcColumn_5479018 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_5376010 {
	vertical-align: middle;
	width: 920px;
}


#wpcRow_5713036 .row-container {
	min-height: 85px;
}

#wpcColumn_2331247 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcSection_8377793 {
	background-image: linear-gradient(to bottom, rgba(0%, 0%, 0%, 0) 0%, rgba(0%, 0%, 0%, 0) 100%);
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#wpcSection_8377793 .wpx-container {
	min-height: 30px;
}

#wpcRow_4645134 .row-container {
	min-height: 100px;
}

#wpcColumn_2282196 {
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_2282196 {
		padding: 0px 0px 0px 0px;
	}
}

#wpcInlineCell_8422080 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_5337253 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_8684865 .row-container {
	min-height: 100px;
}

#wpcColumn_3953331 {
	padding: 0px 0px 0px 0px;
}

#wpcInlineCell_4739543 {
	vertical-align: middle;
	width: 200px;
}

#wpcText_2257076 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcColumn_6547329 {
	padding: 0px 0px 0px 0px;
}

#wpcInlineCell_7297856 {
	vertical-align: middle;
	width: 200px;
}

@media (max-width: 992px) {
	#wpcInlineCell_7297856 {
		width: 168px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_7297856 {
		width: 200px;
	}
}

#wpcText_6958802 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_1754073 {
	vertical-align: middle;
	width: 920px;
}

@media (max-width: 767px) {
	#wpcInlineCell_1754073 {
		width: 320px;
	}
}

#wpcText_2811648 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcSpacing_1782680 {
	height: 30px;
}

#wpcInlineCell_2571244 {
	vertical-align: middle;
	width: 920px;
}


#wpcInlineCell_5752139 {
	vertical-align: middle;
	width: 920px;
}

#wpcSpacing_5650868 {
	height: 30px;
}

#wpcRow_1564462 .row-container {
	min-height: 30px;
}

#wpcColumn_1605317 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_2290597 .row-container {
	min-height: 100px;
}

#wpcColumn_9569466 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

@media (max-width: 767px) {
	#wpcColumn_9569466 {
		padding: 0px 0px 0px 0px;
	}
}

#wpcRow_405685 .row-container {
	min-height: 30px;
}

#wpcColumn_2461143 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_9239715 .row-container {
	min-height: 30px;
}

#wpcColumn_5510048 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_9542302 .row-container {
	min-height: 30px;
}

#wpcColumn_7755900 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_3253351 .row-container {
	min-height: 30px;
}

#wpcColumn_4129109 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1525547 .row-container {
	min-height: 30px;
}

#wpcColumn_2514769 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1640039 .row-container {
	min-height: 30px;
}

#wpcColumn_9729007 {
	padding: 0px 10px 0px 10px;
}

#wpcSection_9698856 .wpx-container {
	min-height: 30px;
}

#wpcRow_532546 .row-container {
	min-height: 30px;
}

#wpcColumn_8612136 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_2272554 .row-container {
	min-height: 30px;
}

#wpcColumn_5308768 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_1794648 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_3616343 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_5021827 {
	vertical-align: middle;
	width: 100px;
}

#wpcInlineCell_6272034 {
	vertical-align: middle;
	width: 100px;
}

@media (max-width: 992px) {
	#wpcInlineCell_6272034 {
		width: 82px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_6272034 {
		width: 100px;
	}
}

#wpcRow_7742354 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcColumn_5029972 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

@media (max-width: 767px) {
	#wpcColumn_5029972 {
		padding: 0px 0px 0px 0px;
	}
}

#wpcInlineCell_5268956 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_5799941 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_5971864 {
	vertical-align: middle;
	width: 520px;
}

@media (max-width: 992px) {
	#wpcInlineCell_5971864 {
		width: 430px;
	}
}

#wpcText_1375870 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_9236542 {
	vertical-align: middle;
	width: 520px;
}

@media (max-width: 992px) {
	#wpcInlineCell_9236542 {
		width: 430px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_9236542 {
		width: 300px;
	}
}

#wpcText_2616191 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_7681215 {
	vertical-align: middle;
	width: 520px;
}

@media (max-width: 992px) {
	#wpcInlineCell_7681215 {
		width: 430px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_7681215 {
		width: 300px;
	}
}

#wpcText_9113170 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_7466895 {
	vertical-align: middle;
	width: 450px;
}

@media (max-width: 992px) {
	#wpcInlineCell_7466895 {
		width: 430px;
	}
}

#wpcText_5802270 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_3280356 {
	vertical-align: middle;
	width: 450px;
}

@media (max-width: 992px) {
	#wpcInlineCell_3280356 {
		width: 430px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_3280356 {
		width: 300px;
	}
}

#wpcText_2572104 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_9286334 {
	vertical-align: middle;
	width: 450px;
}

@media (max-width: 992px) {
	#wpcInlineCell_9286334 {
		width: 430px;
	}
}

#wpcText_9913995 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_2381957 {
	vertical-align: middle;
	width: 372px;
}

@media (max-width: 992px) {
	#wpcInlineCell_2381957 {
		width: 300px;
	}
}

#wpcInlineCell_5337733 {
	vertical-align: middle;
	width: 372px;
}

@media (max-width: 992px) {
	#wpcInlineCell_5337733 {
		width: 300px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_5337733 {
		width: 300px;
	}
}

#wpcInlineCell_1610159 {
	vertical-align: middle;
	width: 372px;
}

@media (max-width: 992px) {
	#wpcInlineCell_1610159 {
		width: 300px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_1610159 {
		width: 300px;
	}
}

#wpcInlineCell_5836889 {
	vertical-align: middle;
	width: 372px;
}

@media (max-width: 992px) {
	#wpcInlineCell_5836889 {
		width: 300px;
	}
}

#wpcInlineCell_209875 {
	vertical-align: middle;
	width: 372px;
}

@media (max-width: 992px) {
	#wpcInlineCell_209875 {
		width: 300px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_209875 {
		width: 300px;
	}
}

#wpcInlineCell_6038367 {
	vertical-align: middle;
	width: 372px;
}

@media (max-width: 992px) {
	#wpcInlineCell_6038367 {
		width: 300px;
	}
}

#wpcRow_254218 .row-container {
	min-height: 30px;
}

#wpcColumn_1184804 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_2513777 .row-container {
	min-height: 85px;
}

#wpcColumn_77723 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_7112402 {
	vertical-align: middle;
	width: 920px;
}

#wpcHorizontalLine_2234171 {
	margin: 10px 0px 10px 0px;
}

#wpcHorizontalLine_2234171 hr {
	border: 0 solid transparent;
	border-top: 4px solid rgb(31%, 67%, 31%);
}

@media (max-width: 992px) {
	#wpcHorizontalLine_2234171 hr {
		border: 0 solid transparent;
		border-top: 2px solid rgb(100%, 0%, 0%);
	}
}

#wpcInlineCell_7744080 {
	vertical-align: middle;
	width: 820px;
}

@media (max-width: 992px) {
	#wpcInlineCell_7744080 {
		width: 650px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_7744080 {
		width: 300px;
	}
}

#wpcText_8873177 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_9298855 .row-container {
	min-height: 100px;
}

#wpcColumn_1117170 {
	padding: 0px 0px 0px 0px;
}

#wpcColumn_5587515 {
	padding: 0px 0px 0px 0px;
}

#wpcInlineCell_8718499 {
	vertical-align: middle;
	width: 100px;
}

#wpcInlineCell_9185505 {
	vertical-align: middle;
	width: 200px;
}

#wpcText_4932206 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcSection_5952248 {
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: linear-gradient(to bottom, rgba(0%, 0%, 0%, 0) 0%, rgba(0%, 0%, 0%, 0) 100%);
	border-radius: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#wpcSection_5952248 .wpx-container {
	min-height: 85px;
}

#wpcRow_1323336 .row-container {
	min-height: 104px;
}

#wpcColumn_629834 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_333282 {
	vertical-align: middle;
	width: 920px;
}

#wpcRow_4610677 .row-container {
	min-height: 85px;
}

#wpcColumn_5382054 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_7020673 {
	vertical-align: middle;
	width: 920px;
}

#wpcHorizontalLine_9487108 {
	margin: 10px 0px 10px 0px;
}

#wpcHorizontalLine_9487108 hr {
	border: 0 solid transparent;
	border-top: 4px solid rgb(31%, 67%, 31%);
}

@media (max-width: 992px) {
	#wpcHorizontalLine_9487108 hr {
		border: 0 solid transparent;
		border-top: 2px solid rgb(100%, 0%, 0%);
	}
}

#wpcRow_7746266 .row-container {
	min-height: 85px;
}

#wpcColumn_7967116 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_6297556 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_1890751 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_613904 .row-container {
	min-height: 30px;
}

#wpcColumn_8468490 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_7021418 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

#wpcColumn_4043399 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_1237560 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_4809371 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_8094266 {
	vertical-align: middle;
	width: 48px;
}

#wpcImage_7030520 {
	margin: 0px 0px 0px 0px;
}


#wpcRow_6450947 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

#wpcColumn_7200309 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_1588956 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_6502974 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_808612 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

#wpcColumn_7673101 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_9296582 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_1018206 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1351080 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

#wpcColumn_4129373 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_1813727 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_8194451 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_5535211 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

#wpcColumn_239674 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_5823240 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_8256730 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_4700610 .row-container {
	min-height: 100px;
	background-image: linear-gradient(to bottom, rgb(0%, 71%, 93%) 0%, rgb(0%, 71%, 93%) 100%);
}

#wpcColumn_6422230 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_1890990 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_2881126 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_7177601 {
	vertical-align: middle;
	width: 48px;
}

@media (max-width: 992px) {
	#wpcInlineCell_7177601 {
		width: 42px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_7177601 {
		width: 48px;
	}
}












#wpcInlineCell_8909348 {
	vertical-align: middle;
	width: 48px;
}


#wpcInlineCell_9909569 {
	vertical-align: middle;
	width: 48px;
}

#wpcInlineCell_834502 {
	vertical-align: middle;
	width: 48px;
}


#wpcColumn_584371 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_23557 {
	vertical-align: middle;
	width: 48px;
}


#wpcInlineCell_4364316 {
	vertical-align: middle;
	width: 293px;
}


#wpcInlineCell_369801 {
	vertical-align: middle;
	width: 293px;
}

#wpcRow_7211963 .row-container {
	min-height: 194px;
}

#wpcColumn_6841279 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_9226166 {
	vertical-align: middle;
	width: 100px;
}

@media (max-width: 992px) {
	#wpcInlineCell_9226166 {
		width: 100px;
	}
}

@media (max-width: 767px) {
	#wpcInlineCell_9226166 {
		width: 75px;
	}
}

#wpcInlineCell_2799909 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_6036333 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_5661014 .row-container {
	min-height: 100px;
}

#wpcColumn_4318456 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1064016 .row-container {
	min-height: 100px;
}

#wpcColumn_3689733 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_7696021 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_4148904 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_4087445 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_7334938 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_4155102 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_2900165 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_1670560 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_7392064 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_7270386 .row-container {
	min-height: 85px;
}

#wpcColumn_3988099 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcRow_7213307 .row-container {
	min-height: 85px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcRow_311870 .row-container {
	min-height: 85px;
}

#wpcColumn_201428 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcInlineCell_7487431 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_78958 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_706223 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_7135951 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_412000 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_1971197 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcColumn_5729914 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

@media (max-width: 767px) {
	#wpcColumn_5729914 {
		padding: 0px 10px 0px 10px;
	}
}

#wpcColumn_6853360 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcColumn_7568111 {
	padding: 0px 10px 0px 10px;
	background-image: linear-gradient(to bottom, rgb(100%, 100%, 100%) 0%, rgb(100%, 100%, 100%) 100%);
}

#wpcColumn_9011624 {
	padding: 0px 10px 0px 10px;
}

@media (max-width: 767px) {
	#wpcColumn_9011624 {
		padding: 0px 0px 0px 0px;
	}
}




#wpcInlineCell_2672613 {
	vertical-align: middle;
	width: 920px;
}

#wpcHtml_8952540 {
	min-height: 18px;
}

#wpcInlineCell_9502171 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_353085 .wpc-text {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#wpcInlineCell_6963488 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_6705853 .wpc-text {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#wpcSection_7866820 .wpx-container {
	min-height: 251px;
}

#wpcRow_7792297 .row-container {
	min-height: 30px;
}

#wpcColumn_1228521 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_8659654 .row-container {
	min-height: 30px;
}

#wpcColumn_4389553 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1096858 .row-container {
	min-height: 91px;
}

#wpcColumn_1506454 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_6877485 .row-container {
	min-height: 100px;
}

#wpcColumn_5200745 {
	padding: 0px 10px 0px 10px;
}


#wpcSection_7451366 .wpx-container {
	min-height: 245px;
}

#wpcRow_9973920 .row-container {
	min-height: 30px;
}

#wpcColumn_9769364 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_8951663 .row-container {
	min-height: 30px;
}

#wpcColumn_5111374 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1137114 .row-container {
	min-height: 85px;
}

#wpcColumn_283627 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_1988981 .row-container {
	min-height: 100px;
}

#wpcColumn_7211518 {
	padding: 0px 10px 0px 10px;
}



#wpcInlineCell_5018328 {
	vertical-align: middle;
	width: 100px;
}

#wpcText_5094894 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_897245 {
	vertical-align: middle;
	width: 200px;
}

#wpcColumn_9291958 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_7725637 .row-container {
	min-height: 30px;
}

#wpcText_2486940 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_8305437 {
	vertical-align: middle;
	width: 920px;
}

#wpcColumn_6100473 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_9739940 .row-container {
	min-height: 100px;
}

#wpcText_2355237 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcInlineCell_9394352 {
	vertical-align: middle;
	width: 920px;
}

#wpcColumn_4759876 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_7789058 .row-container {
	min-height: 100px;
}

#wpcColumn_637821 {
	padding: 0px 10px 0px 10px;
}

#wpcRow_5158998 .row-container {
	min-height: 30px;
}

#wpcSection_7063355 .wpx-container {
	min-height: 260px;
}

#wpcImage_2238488 {
	margin: 2px 5px 2px 5px;
}

#wpcImage_2238488 img {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
}

#wpcInlineCell_9386235 {
	vertical-align: middle;
	width: 215px;
}


#wpcRow_1178321 .row-container {
	min-height: 100px;
}

#wpcColumn_4633535 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_6458709 {
	vertical-align: middle;
	width: 293px;
}

#wpcColumn_6353855 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_5310206 {
	vertical-align: middle;
	width: 293px;
}

#wpcColumn_5891726 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_5908306 {
	vertical-align: middle;
	width: 293px;
}

#wpcSection_9409760 .wpx-container {
	min-height: 310px;
}

#wpcRow_7021613 .row-container {
	min-height: 100px;
}

#wpcColumn_4377395 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_5893134 {
	vertical-align: middle;
	width: 920px;
}

#wpcSpacing_6291941 {
	height: 30px;
}

#wpcInlineCell_1360673 {
	vertical-align: middle;
	width: 920px;
}

#wpcText_8672957 .wpc-text {
	padding: 5px 5px 5px 5px;
}

#wpcRow_1798647 .row-container {
	min-height: 100px;
}

#wpcColumn_5731552 {
	padding: 0px 10px 0px 10px;
}

#wpcColumn_887611 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_8543507 {
	vertical-align: middle;
	width: 50px;
}


#wpcInlineCell_6728563 {
	vertical-align: middle;
	width: 450px;
}

#wpcText_9500376 .wpc-text {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#wpcInlineCell_3065197 {
	vertical-align: middle;
	width: 450px;
}

#wpcText_6915713 .wpc-text {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#wpcInlineCell_9933975 {
	vertical-align: middle;
	width: 81px;
}

#wpcRow_182258 .row-container {
	min-height: 30px;
}

#wpcColumn_5054386 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_8512425 {
	vertical-align: middle;
	width: 450px;
}

#wpcText_5106758 .wpc-text {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#wpcColumn_4880875 {
	padding: 0px 10px 0px 10px;
}

#wpcInlineCell_348706 {
	vertical-align: middle;
	width: 50px;
}


.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 00px;
	padding-right: 00px
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.post-heading-center {
	margin-top: 50px;
	margin-bottom: 50px;
	/* Для текстовых разделов - много, а для картиночных - 50px - нормально. Отступ от нижней картинки, а там ещё текст есть. Поэтому так много для нижнего раздела надо ставить */
}

.post-heading-center h2 {
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.post-heading-center p {
	color: #000000;
	text-align: justify;
	font-size: 26px;
	font-weight: normal;
	line-height: 1.2;
	margin: 20px 10px;
}

.advantagewhite {
	max-width: 940;
	width: 100%;
	border-radius: 10px;
	margin: auto;
	background: rgba(100%, 100%, 100%, 0.9);
	overflow: hidden;
}